@import "normalize";

$bgcolor: #fff;
$navWidth: 150px;
$padding: 20px;

$accent1: rgb(6, 168, 247);

$light1: #fff;
$light2: #eee;

$dark2: #222;
$dark3: #333;
$dark4: #444;
$dark5: #555;

$actionBg: rgb(29, 182, 231);
$actionText: #fff;
$cancelBg: rgb(127, 128, 127);
$cancelText: #fff;
$confirmBg: rgb(25, 181, 60);
$confirmBgDisabled: rgb(80, 101, 85);
$confirmText: #fff;
$confirmTextDisabled: #999;

body {
  background-color: $dark4;
  color: $light2;
  font-size: 13px;
}

a,
h1,
h2,
h3,
h4 {
  color: $accent1;
}

button {
  padding: .5em 1em;
  background-color: $actionBg;
  color: $actionText;
  border: none;
  border-radius: 2px;
}
button.cancel {
  background-color: $cancelBg;
  color: $cancelText;
}
button.confirm {
  background-color: $confirmBg;
  color: $confirmText;
}
button.confirm[disabled] {
  background-color: $confirmBgDisabled;
  color: $confirmTextDisabled;
}

input {
  color: $dark2;
}

.view-options-index {

  .nav {
    width: $navWidth;
    float: left;
    margin: 0;
    padding: 0;
    z-index: 1;

    li {
      margin: 0;
      padding: 0;
      list-style-type: none;

      a:hover {
        background-color: $dark5;
        cursor: pointer;
      }

      a.active {
        background-color: $dark3;
        box-shadow: 0 3px 7px $dark2;
      }

      a,
      a.active:hover {
        padding: 1em;
        display: block;
        cursor: default;
        font-size: 1.3em;
        text-decoration: none;
      }

    }
  }

  .content {
    margin-left: $navWidth;
    background-color: $dark3;
    min-height: 100%;
    z-index: 2;
    position: relative;

    pre,
    p code {
      background-color: $dark2;
    }

    pre {
      padding: .3em .5em;
    }
    p code {
      padding: .1em .3em;
    }

    .padding {
      padding: $padding $padding * 1.5;

      > h1 {
        margin-top: 0;
      }

    }

  }
}
